@(bookForm: Form[Book])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Добавление новой книги</title>
    </head>
    <body>

        <div class="authors">
        @helper.form(helper.CSRF(routes.HomeController.save())) {
            <fieldset>
                @helper.inputText(bookForm("title"), '_label -> "Название")
                @helper.inputText(bookForm("year"), '_label -> "Год")
                @helper.repeat(bookForm("authors"), min = 1) { authorsField =>
                    @helper.inputText(authorsField, '_label -> "Авторы (вводятся через запятую)")
                }
            </fieldset>
            <div>
                <input type="submit" value="Добавить" />
                <a href="@routes.HomeController.list()">Вернуться назад</a>
            </div>
        }
        </div>
    </body>
</html>