@(id: String, bookForm: Form[Book])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Обновление книги</title>
    </head>
    <body>

        <div>
            @helper.form(helper.CSRF(routes.HomeController.update(id))) {
                <fieldset>
                    @helper.inputText(bookForm("title"), '_label -> "Название")
                    @helper.inputText(bookForm("year"), '_label -> "Год")
                    @helper.repeat(bookForm("authors"), min = 1) { authorsField =>
                        @helper.inputText(authorsField, '_label -> "Авторы (вводятся через запятую)")
                    }
                </fieldset>
                <div>
                    <input type="submit" value="Обновить" />
                    <a href="@routes.HomeController.list()">Вернуться назад</a>

                </div>
            }
        </div>
        <div>@helper.form(helper.CSRF(routes.HomeController.delete(id))) {
            <input type="submit" value="Удалить">  }</div>
    </body>
</html>